<div class="container">
    Choisissez l'offre à afficher
    <select class="form-select" aria-label="Default select example"  (change)="onChange($event)">
        <option selected value="0">Maison d'Haute</option>
        <option value="1">Produits</option>
        <option value="2">Team Building</option>
    </select>

    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>