<div class="header" style="background-color: #CD2B73 ;">
    
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"  style="margin-left: 0.75vw;"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"
      ><i class="fa fa-bars"></i
    ></a>
    <div class="header-left">
        <a routerLink="/acceuil" class="logo">
          <img src="assets/idwey_name.png" width="75" alt="" style="margin-left: 2.25vw;"/>
        </a>
      </div>
    <ul class="nav user-menu float-right">
      <li class="nav-item dropdown">
        <a
          href="#"
          class="dropdown-toggle nav-link user-link"
          data-toggle="dropdown"
        >
          <span class="user-img">
            
            <span class="status online"></span>
          </span>
        </a>
      </li>
    </ul>
  </div>