.category-container{
  margin-bottom: 10px;
  width: 70%;
  border-radius: 20px;
  background-color:#EF6E50 ;
  color: white;

}
.checkbox-container {
  position: relative;
  display: inline-block;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
}

.checkbox-container label {
  position: relative;
  display: inline-block;
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-color: #eee; /* Unchecked background color */
  border-radius: 5px; /* Adjust for rounded corners */
  cursor: pointer;
}

.checkbox-container input:checked + label {
  background-color: #2196F3; /* Checked background color */
}

/* Optional: Style the checkmark */
.checkbox-container label:after {
  content: '\2713'; /* Unicode checkmark symbol */
  font-size: 14px; /* Adjust as needed */
  color: #fff; /* Color of the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.checkbox-container input:checked + label:after {
  opacity: 1;
}
