.mainForm{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    min-height: 80vh;
    
}

.devisForm{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #EF6E50;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    width: 65%;
}

.userForm{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #EF6E50;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    width: 35%;
}