<div class="container">
  <div class="sign" id="logindiv">
    <p class="login">Sign up</p>
    <form [formGroup]="signupForm" (submit)="onSubmit()">
      <input type="text" formControlName="username" placeholder="Your full name" /><br />
      <div class="text-danger fw-bold" *ngIf="
            signupForm.controls['username'].invalid &&
            (signupForm.controls['username'].dirty ||
              signupForm.controls['username'].touched)
          ">
        <div *ngIf="signupForm.controls['username'].errors?.['minlength']" class="alert alert-warning p-2">
          min length 3
        </div>
        <div *ngIf="signupForm.controls['username'].errors?.['required']" class="alert alert-danger p-2">
          req
        </div>
      </div>
      <input type="text" formControlName="companyName" placeholder="Your company name" /><br />
      <div class="text-danger fw-bold" *ngIf="
            signupForm.controls['companyName'].invalid &&
            (signupForm.controls['companyName'].dirty ||
              signupForm.controls['companyName'].touched)
          ">
        <div *ngIf="signupForm.controls['companyName'].errors?.['minlength']" class="alert alert-warning p-2">
          min length 3
        </div>
        <div *ngIf="signupForm.controls['companyName'].errors?.['required']" class="alert alert-danger p-2">
          req
        </div>
      </div>
      <input type="number" formControlName="cin" placeholder="CIN" /><br />
      <div class="text-danger fw-bold" *ngIf="
            signupForm.controls['cin'].invalid &&
            (signupForm.controls['cin'].dirty ||
              signupForm.controls['cin'].touched)
          ">
        <div *ngIf="signupForm.controls['cin'].errors?.['minlength']" class="alert alert-warning p-2">
          min length 8
        </div>
        <div *ngIf="signupForm.controls['cin'].errors?.['required']" class="alert alert-danger p-2">
          req
        </div>
      </div>
      <input type="number" formControlName="nb" placeholder="nb" /><br />
      <div class="text-danger fw-bold" *ngIf="
            signupForm.controls['nb'].invalid &&
            (signupForm.controls['nb'].dirty ||
              signupForm.controls['nb'].touched)
          ">
        <div *ngIf="signupForm.controls['nb'].errors?.['minlength']" class="alert alert-warning p-2">
          min length 8
        </div>
        <div *ngIf="signupForm.controls['nb'].errors?.['required']" class="alert alert-danger p-2">
          req
        </div>
      </div>
      <input type="email" formControlName="email" placeholder="Enter your Email address" />
      <div class="text-danger fw-bold" *ngIf="
            signupForm.controls['email'].invalid &&
            (signupForm.controls['email'].dirty ||
              signupForm.controls['email'].touched)
          " class="alert alert-danger p-2">
        mail invalid
      </div>
      <div>
        <input type="password" formControlName="password" placeholder="Choose your password" />
      </div>
      <div class="text-danger fw-bold" *ngIf="
            signupForm.controls['password'].invalid &&
            (signupForm.controls['password'].dirty ||
              signupForm.controls['password'].touched)
          ">
        <div *ngIf="signupForm.controls['password'].errors?.['required']" class="alert alert-danger p-2">
          req
        </div>
        <div *ngIf="signupForm.controls['password'].errors?.['minlength']" class="alert alert-warning p-2">
          min length 3
        </div>
        <div *ngIf="signupForm.controls['password'].errors?.['maxlength']" class="alert alert-warning p-2">
          max length 8
        </div>
      </div>

      <div>
        <button class="loginbutton" type="submit">
          Join
          <i class="fa-solid fa-arrow-right" style="color: #662c91"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<p class="signuptxt">
  Already A Member?
  <br />
  <a class="signuplink" routerLink="/loginpage/login"> Log In Now!! </a>
</p>