<div class=" info">
    <div class="logo">
        <img src="assets/Idwey.png" alt="" style="height: 30vh; width: auto;">
    </div>
    <div class="para">
        <h1>Who is Idwey</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
    </div>
</div>
<div style="margin-left: 100px; margin-right: 100px; margin-bottom: 50px; margin-top: 50px;">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-interval="10000"
        data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let img of slides">
                <img [src]="img.src" class="d-block w-100" alt="..." />
                <div class="carousel-caption d-none d-md-block">
                    <p>{{ img.subtitle }}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<hr>
<a routerLink="/navbar/maisonDH" style="text-decoration: none;">
    <div class="divs">
        <img src="assets/mdh.jpg" alt="" style="height: 30vh; width: auto;">
        <div>
            <h1>Maison d'haute</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Etiam porta sem malesuada
                magna
        </div>
    </div>
</a>
<a routerLink="/navbar/produits" style="text-decoration: none;">
    <div class="divs">
        <div>
            <h1>Produits</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Etiam porta sem malesuada
                magna
        </div>
        <img src="assets/janga.jpg" alt="" style="height: 30vh; width: auto;">
    </div>
</a>
<a routerLink="/navbar/teamB" style="text-decoration: none;">
    <div class="divs">
        <img src="assets/taembuilding.jpg" alt="" style="height: 30vh; width: auto;">
        <div>
            <h1>Team Building</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Etiam porta sem malesuada
                magna
        </div>
    </div>
</a>
<a routerLink="/navbar/rebois" style="text-decoration: none;">
    <div class="divs">
        <div>
            <h1>Action de Reboisement</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Etiam porta sem malesuada
                magna
        </div>
        <img src="assets/actRobois.jpg" alt="" style="height: 30vh; width: auto; float: right">
    </div>
</a>
<hr>

<div class="contact">
    <div class="text3">
        <div>
            <a href="https://www.instagram.com/idwey_tn/" style="text-decoration: none; color: #CD2B73;"><i
                    class="fa-brands fa-instagram fa-2xl" style="color: #CD2B73;"></i>
                idwey_tn</a>
            <br /><br />
            <a href="https://www.facebook.com/Idwey.tn/" style="text-decoration: none; color: #CD2B73;"><i
                    class="fa-brands fa-facebook fa-2xl" style="color: #CD2B73;"></i>
                Idwey.tn</a>
        </div>
        <div>Copyright © 2023 Idwey. All Rights Reserved.</div>
        <div>
            <i class="fa-solid fa-location-dot fa-xl" style="color: #CD2B73;"></i>
            63 Avenue Habib Bourguiba (Immeuble Le Parnasse), <br />
            7ème étage., Tunis, Tunisia <br /><br />
            <i class="fa-solid fa-at fa-xl" style="color: #CD2B73;"></i>
            Contact@idwey.tn <br /><br />
            <i class="fa-solid fa-phone fa-xl" style="color: #CD2B73;"></i> 31 106 666
        </div>
    </div>
</div>